<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/img/meteorology.png">
       <link rel="stylesheet" href="CSS/styles.css">
    <title>About</title>
</head>
<body>
    <div class="main-content">
    {{>header}}
    <img class="portrait" src="img/image3.png"  >
    <p>This site was created by Amadeo Ramirez. </p>
    <p>I’m a tech apprentice at Road to Hire, pushing myself to thrive in their coding program while simultaneously learning how to navigate the professional corporate world. I came into this with no prior coding experience—my background is in International Studies—but I realized that the world is constantly changing, and I wanted to adapt by learning a skill that’s shaping the future.</p>
    </p> Right now, I’m diving into both front-end and back-end development, exploring how they work together to create seamless and engaging user experiences. I’m excited to experiment, learn, and see where this journey can take me!</p>
    </div>
        {{>footer}}
</body>
</html>