<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/img/meteorology.png">
       <link rel="stylesheet" href="CSS/styles.css">
    <title>Help</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <div class="helptext">
        <p> {{helpText}} </p>
        </div>

        
    </div>
        {{>footer}}
</body>
</html>