<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/img/meteorology.png">
       <link rel="stylesheet" href="CSS/styles.css">
    <title>Help</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p> {{helpText}} </p>
        <p>Hello and welcome to my Weather App! Here’s how it works: simply enter any city, and the app will provide the latest weather information in either Celsius or Fahrenheit. You’ll see the current temperature as well as an estimate of what it actually feels like.</p>
        <p> I hope you enjoy using my Weather App!</p>
    </div>
        {{>footer}}
</body>
</html>